<div class="grid">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card pd-4">
                <form>

                    <div class="form-group p-4">
                        <!-- <label>Nota</label> -->
                        <input placeholder="Nota" class="form-control px-3" type="textarea" name="text" ng-model="$ctrl.newNote.note">
                    </div>
            
                    <input type="hidden" ng-model="$ctrl.newNote.id">
                    <input class="btn btn-primary ml-4 mb-4" type="button" value="Guardar" ng-click="$ctrl.saveNote()">
                </form>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <table class="table m-4">
                <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="note in $ctrl.notes">
                        <td>{{note.note}}</td>
                        <td>
                            <a href="#" ng-click="$ctrl.edit(note.id)">Editar</a>
                            <a href="#" ng-click="$ctrl.delete(note.id)">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>